/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* common */
body{
    height: 100vh;
    background-color: black;
    font-family: 'Lato', sans-serif;
    
}
.row-flex{
   display: flex;
}
.container{
    width: 90%;
    margin: auto;
   
}
/* header */
header{
    height: 77px;
   
    
}

/* main */
main{
    height: 798px;
       
}
.row-main{
    margin-left:110px;
    margin-bottom:20px;
}


.photograph-row{
    width: 120px;
    height: 20px;
    margin-left: 2px;
    padding-bottom: 2px;
    text-align: center;
    color: white;
    background-color:rgba(black, alpha 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
}
.photos-row{
    flex-wrap: wrap;
   
}

.photo-row{   
   width: calc(100% / 7 );
   margin-bottom: 8px;
   margin-top: 20px;
   padding-left: 2px;
   padding-right: auto;
   padding-top: 10px;
    position: relative;
    
}
 img{
    width: 100%;
    display: block;
 }
/* footer */
footer{height: 80px;
   
    background-color:#222222
}
footer .row-flex{
    height: 100%;
    align-items: center;
}
 .close-chat{
    width: 20%;
}
.row-flex .icons{
    width: 80%;
}
.media{
    width: 20%;
}
.center-icons{
    text-align: center;
}
.fas{
    color: white;
    padding: 5px;

}
.icons{
    margin-bottom: 4px;
}
div{
    text-align: center;
    margin-top: 5px;
   
}


.meet{
    display: flex;
}
   .conversation  {
    display: flex;
    align-items: center;
    
    background-color: #4a4a4a;
    color: red;
    height: 80px;
    text-align: center;
    
    
}
.close-chat .meet{
    justify-content: flex-end;
}
 

/* button */
.header-button{padding-top: 5px;
    padding-right: 8px;
    text-align: right;
    
}
.header-speaker, .header-arrows{
    background-color: #4a4a4a;
    color: white;
    border: none;
    border-radius: 7px;
}
.header-speaker{
width: 110px;
height: 28px;
padding: 10px 4px 20px 4px;
text-align: center;
line-height: 100%;
}
.header-arrows{
    width: 25px;
    height: 28px;
}